<div class="row">
	<div class="col-md-8">
		<div class="media">
			<br />
			<% avatar_url = @user.avatar_url(128) %>
			<% if avatar_url %>
				<div class="media-left">
					<%= image_tag avatar_url, class: 'media-object' %>
				</div>
			<% end %>
			<div class="media-body">
					<h2 class="media-heading"><%= @user.name %></h2>
					<small>
						<%= pluralize(@user.posts.count, 'post') %>,
						<%= pluralize(@user.comments.count, 'comment') %>
					</small>
			</div>
		</div>
	</div>
</div>

<% if user_has_got_posts?(@user) %>
	<h2>Posts</h2>
	<% @user.posts.each do |post| %>
		<%= render partial: 'posts/post', locals: { post: post } %>
	<% end %>
<% else %>
	<h4><%= "#{@user.name} has not submitted any post yet." %></h4>
<% end %>

<% if user_has_got_comments?(@user) %>
	<h2>Comments</h2>
	<% @user.comments.each do |comment| %>
		<%= render partial: 'comments/comment', locals: { comment: comment } %>
	<% end %>
<% else %>
	<h4><%= "#{@user.name} has not submitted any comment yet." %></h4>
<% end %>

<h2>My favorite posts</h2>
<% @user.favorites.each do |fav| %>
	<%= render partial: 'posts/fav_post_list', locals: { fav: fav } %>
<% end %>
